{% extends "./base.html" %}
{% block page_title %} Demand Manager Reset(Send Mail) {% endblock %}

{% block navbar_title %}Account Management{% endblock%}

{% block navbar_contents %}
{% include "./top_block_navbar_contents.html" %}
{% endblock %}

{% block content %}
<h2>Password Reset Request(Send Mail)</h2>
<div style="margin:20px">
    <p>
        Mail for resetting your password has been sent. <br>
        Please reset your password from the link described in the mail.
    </p>
</div>
{% endblock %}