{% extends "./base.html" %}
{% block page_title %} Demand Manager User Registration(Send Mail) {% endblock %}

{% block navbar_title %}Account Management{% endblock%}

{% block navbar_contents %}
{% include "./top_block_navbar_contents.html" %}
{% endblock %}

{% block content %}
<h2>User Registration Request(Send Mail)</h2>
<div style="margin:20px">
    <p>
        Mail for user registration has been sent. <br>
        Please access the link described in the mail.
    </p>
</div>
{% endblock %}
