{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block page_title %} Demand Manager Change Password {% endblock %}

{% block navbar_title %}Account Management{% endblock%}

{% block navbar_contents %}
{% include "./top_block_navbar_contents.html" %}
{% endblock %}

{% block content %}
<div style="margin:20px">
    <form action="" method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Change</button>
        <a href="{% url 'accounts:profile' user.pk %}" class="btn btn-primary">Back</a>
    </form>
</div>
{% endblock %}