{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block page_title %} Login {% endblock%}

{% block navbar_title %}
    <a class="navbar-brand" href="#">Account Management</a>
{% endblock %}

{% block navbar_contents %}
{% include "./top_block_navbar_contents.html" %}
{% endblock %}

{% block content %}
<div style="padding-top: 50px;">
    <form action="" method="POST">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-primary btn-block" >Login</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <a class="btn btn-lg btn-warning btn-block mt-2"
                       href="{% url 'accounts:password_reset' %}"> Password Reset</a>
                    <a class="btn btn-lg btn-outline-primary btn-block mt-2"
                       href="{% url 'accounts:user_registration' %}"> User Registration</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
