{% extends "./base.html"%}
{% load crispy_forms_tags %}

{% block page_title %}Demand Manager (Analysis){% endblock %}

{% block content %}
    <div>
        <h1><a href="/demand_manager">Demand Manager</a></h1>
    </div>

    <div>
        <h2>Demand Analysis</h2>
        <div class="container">
            <h3>Required License Features</h3>
            <div class="float-right">
                <form method="get">
                    <div class="form-row">
                        {{ form|crispy }}
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-info"> Set period </button>
                            <a class="btn btn-secondary filtered" href="/demand_manager/analysis_test/?page=1"> Reset </a>
                        </div>
                    </div>
                </form>
            </div>
            {{ period_start }}
            {{ period_end }}

            <table class="table table-bordered table-striped table-light">
                <thead>
                    <tr class="table-primary">
                        <th></th>
                        {% for index in ser_required_lic.index %}
                            <th>{{ index }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Demand [%]</th>
                        {% for value in ser_pct_demand.values %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Demand</th>
                        {% for value in ser_num_demand.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Released</th>
                        {% for value in ser_num_release.values %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Required</th>
                        {% for value in ser_required_lic.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Demand vs Date</h3>
            {% load static %}
            {% for index, row in df_png_path.iterrows %}
                <table>
                    <tbody>
                        <tr>
                            <td><img src="{% static row.0 %}"></td>
                            <td><img src="{% static row.1 %}"></td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>

        <!--
        <div>
            <table class="table table-bordered table-striped table-light">
                <thead>
                    <tr class="table-primary">
                        <th>Date</th>
                        <th>License Feature Base A</th>
                        <th>License Feature Base B</th>
                        <th>License Feature Base C</th>
                        <th>License Feature Option 1</th>
                        <th>License Feature Option 2</th>
                        <th>License Feature Option 3</th>
                        <th>License Feature tech 16nm</th>
                        <th>License Feature tech 7nm</th>
                    </tr>
                </thead>
                <tbody>
                {% for index, row in df_demand_feature.iterrows %}
                    <tr>
                        <td>{{ index|date:"Y/m/d" }}</td>
                        <td>{{ row.lic_feature_base_a }}</td>
                        <td>{{ row.lic_feature_base_b }}</td>
                        <td>{{ row.lic_feature_base_c }}</td>
                        <td>{{ row.lic_feature_opt_1 }}</td>
                        <td>{{ row.lic_feature_opt_2 }}</td>
                        <td>{{ row.lic_feature_opt_3 }}</td>
                        <td>{{ row.lic_feature_16nm }}</td>
                        <td>{{ row.lic_feature_7nm }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        -->
    </div>
{% endblock %}
