{% extends "./base.html"%}

{% block page_title %}Demand Manager Top{% endblock %}

{% block content %}
    <div>
        <h1><a href="/demand_manager">Demand Manager</a></h1>
    </div>

    <div>
        <h2>Demand List</h2>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Product</th>
                    <th scope="col">Technology Node</th>
                    <th scope="col">Verification</th>
                </tr>
            </thead>
            <tbody>
                {% for demand in object_list %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'demand_manager:detail' demand.id %}">{{ demand.product }}</a>
                        </th>
                        <td>{{ demand.tech_node }}</td>
                        <td>{{ demand.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="/demand_manager/create/"><i class="far fa-calendar-plus"></i> Demand Request </a>
{% endblock %}
