{% extends "./base.html"%}
{% load crispy_forms_tags %}

{% block page_title %}Demand Manager Top{% endblock %}

{% block content %}
    <div>
        <h1><a href="{% url 'demand_manager:top' %}">Demand Manager</a></h1>
    </div>
    <!-- -->
    <div class="container">
        <h2>Demand List</h2>
        <div>
            <a class="btn btn-primary" href="{% url 'demand_manager:create' %}">
                <i class="far fa-calendar-plus"></i> Demand Request </a>
        </div>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Product</th>
                    <th scope="col">Technology Node</th>
                    <th scope="col">Verification</th>
                    <th scope="col">Date of Start</th>
                    <th scope="col">Date of End</th>
                    <th scope="col">Frequency [%]</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for demand in object_list_from_today %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'demand_manager:detail' demand.id %}">{{ demand.product }}</a>
                        </th>
                        <td>{{ demand.tech_node }}</td>
                        <td>{{ demand.content }}</td>
                        <td>{{ demand.start_date|date:"Y/m/d" }}</td>
                        <td>{{ demand.end_date|date:"Y/m/d"}}</td>
                        <td>{{ demand.frequency }}</td>
                        {% if demand.comment|length > 0 %}
                            <td>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover"
                                         data-trigger="focus" data-placement="right" data-content="{{ demand.comment }}">
                                   <i class="far fa-comment-dots"></i></button>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>
    <div class="container">
        <h2>Demand List</h2>
        <div class="modal fade" id="DemandFilterModal" tabindex="-1" role="dialog"
             aria-labelledby="DemandFilterModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search Condition</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-info" form="filter">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-primary" href="{% url 'demand_manager:create' %}">
                <i class="far fa-calendar-plus"></i> Demand Request </a>
            <div class="float-right">
                <a class="btn btn-info" data-toggle="modal" data-target="#DemandFilterModal" href="#">
                    <i class="fas fa-search"></i> Search </a>
                <a class="btn btn-secondary filtered" href="/demand_manager/?page=1"> Clear Search Condition </a>
                </div>
        </div>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Product</th>
                    <th scope="col">Technology Node</th>
                    <th scope="col">Verification</th>
                    <th scope="col">Date of Start</th>
                    <th scope="col">Date of End</th>
                    <th scope="col">Frequency [%]</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for demand in object_list %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'demand_manager:detail' demand.id %}">{{ demand.product }}</a>
                        </th>
                        <td>{{ demand.tech_node }}</td>
                        <td>{{ demand.content }}</td>
                        <td>{{ demand.start_date|date:"Y/m/d" }}</td>
                        <td>{{ demand.end_date|date:"Y/m/d"}}</td>
                        <td>{{ demand.frequency }}</td>
                        {% if demand.comment|length > 0 %}
                            <td>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover"
                                         data-trigger="focus" data-placement="right" data-content="{{ demand.comment }}">
                                   <i class="far fa-comment-dots"></i></button>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page Navigation Demand">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Top">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Top</span>
                    </a>
                </li>
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"><</a>
                    </li>
                {% endif %}
                {% for link_page in page_obj.paginator.page_range %}
                    {% if link_page %}
                        {% if link_page == page_obj.number %}
                            <li class="page-item active"><a class="page-link" href="#">{{ link_page }}
                                <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ link_page }}">{{ link_page }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">></a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Top</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}
